#app {
  @apply h-[100vh] max-w-[576px] w-[100vw] overflow-auto mx-auto;
}
.checkmark {
  font-size: 20px;
  color: #4caf50;
  @apply bg-green-100;
  opacity: 1;
  animation: fadeOut 1s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.check-container {
  font-size: 50px;
  position: relative;
  display: inline-block;
}
.thin-table {
  th,
  tr td {
    @apply p-1;
  }
}
