// @import 'prime-pink';
@layer primeflex;
@import 'variable';
@import 'primereact/resources/primereact.min.css';
@import 'primereact/resources/themes/tailwind-light/theme.css';
// @import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';
// @import 'react-quill/dist/quill.snow.css';
// @import './custom-quill';
// @import 'tippy.js/dist/tippy.css';
// @import '~@mdi/font/scss/materialdesignicons.scss';
@import './skeleton';
// @import './time-range-select';
// @import './notification.scss';
// @import './font.scss';

@import 'primeicons/primeicons.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html {
  background-color: var(--gray-100);
}
.hidden-scrollbar {
  -ms-overflow-style: none !important; /* Internet Explorer 10+ */
  scrollbar-width: none !important; /* Firefox */
  ::-webkit-scrollbar {
    width: 0px !important;
    display: none !important; /* Safari and Chrome */
  }

  &::-webkit-scrollbar-thumb {
    display: none !important;
  }
}

body {
  margin: 0;
  // font-family: 'Poppins';
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  // .p-button {
  //   font-size: 13px;
  //   padding: 0.4rem 0.8rem;
  // }

  // .p-inputtext {
  //   font-size: 13px;
  //   padding: 0.3rem 0.5rem;
  // }
}

.p-multiselect-header {
  display: flex;
  height: 78px;
  justify-content: flex-end;
}

.p-button-label {
  flex: 0 1 fit-content;
}
.p-button {
  justify-content: center;
}
body,
* {
  text-overflow: ellipsis;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
#root {
  height: 100vh;
  overflow: auto;
}
.hover-highlight:hover {
  background-color: #f0f9ff; /* hoặc màu bạn muốn */
  cursor: pointer;
}
.field {
  margin-bottom: 1.5rem;
}
.p-tag.p-component {
  span {
    font-size: 10px;
  }
}
.p-datatable.register-dayboarding-table .p-datatable-thead > tr > th {
  padding: 0.5rem 0.5rem;
}
.p-datatable.register-dayboarding-table td {
  padding: 0.25rem 0.5rem;
}
.p-datatable.data-table-total-count tr td,
th {
  padding: 6px 12px;
}
.cursor-not-allowed {
  cursor: not-allowed;
}
