// @import 'prime-pink';
@layer primeflex;
@import 'variable';
@import 'primereact/resources/primereact.min.css';
@import 'primereact/resources/themes/mdc-light-indigo/theme.css';
// @import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';
// @import 'react-quill/dist/quill.snow.css';
// @import './custom-quill';
// @import 'tippy.js/dist/tippy.css';
// @import '~@mdi/font/scss/materialdesignicons.scss';
@import './skeleton';
// @import './time-range-select';
// @import './notification.scss';
// @import './font.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html {
  background-color: var(--gray-100);
}
.hidden-scrollbar {
  -ms-overflow-style: none !important; /* Internet Explorer 10+ */
  scrollbar-width: none !important; /* Firefox */
  ::-webkit-scrollbar {
    width: 0px !important;
    display: none !important; /* Safari and Chrome */
  }

  &::-webkit-scrollbar-thumb {
    display: none !important;
  }
}

body {
  margin: 0;
  // font-family: 'Poppins';
  font-family: 'Montserrat', sans-serif;
}
@media (max-width: 768px) {
  body {
    font-size: 13px;
  }

  .p-button {
    font-size: 13px;
    padding: 0.4rem 0.8rem;
  }

  .p-inputtext {
    font-size: 13px;
    padding: 0.3rem 0.5rem;
  }
}
.p-multiselect-header {
  display: flex;
  height: 78px;
  justify-content: flex-end;
}
:root {
  font-family: var(--font-family);
}
.mdi-domain {
  font-size: 16px;
}
.p-button-label {
  flex: 0 1 fit-content;
}
.p-button {
  justify-content: center;
}
body,
* {
  text-overflow: ellipsis;
}

.field {
  margin-bottom: 1.5rem;
}
